<div class="container mt-4">
  <div class="input-group mb-3 flex-column">
    <h1 class="mb-4">Postavke</h1>

    <!-- Add New Category -->
    <div class="input-group mt-4">
      <h4>Dodaj novu kategoriju</h4>
      <div class="input-group">
        <input
          type="text"
          class="form-control category-input"
          placeholder="Nova kategorija"
          [(ngModel)]="newCategory"
        />
        <button
          class="btn btn-primary"
          (click)="addNewCategory(newCategory)"
          [disabled]="!newCategory">
          Dodaj
        </button>
      </div>
    </div>

    <!-- Existing Categories -->
    <div class="container mt-4">
      <h3>Postojeće kategorije</h3>
      <ul class="list-group">
        <li
          *ngFor="let category of categories; let i = index"
          class="list-group-item d-flex justify-content-between align-items-center category-list-item">
          <span class="text-truncate">{{ category }}</span>
          <div class="d-flex align-items-center">
            <button
              class="item-action-icon edit"
              title="Uredi"
              (click)="openEditModal(category, i)">
              <i class="fas fa-edit"></i>
            </button>
            <button
              class="item-action-icon delete"
              title="Ukloni"
              (click)="deleteCategory(category, i)">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </li>
      </ul>
    </div>

    <!-- Edit Category Modal -->
    <div
      class="modal fade"
      id="editCategoryModal"
      tabindex="-1"
      aria-labelledby="editCategoryModalLabel"
      aria-hidden="true"
      #editCategoryModal>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editCategoryModalLabel">Uredi kategoriju</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="categoryName" class="form-label">Kategorija</label>
              <input
                type="text"
                class="form-control"
                id="categoryName"
                [(ngModel)]="selectedCategory"
                name="categoryName"
                required>
            </div>
            <button type="submit" class="btn btn-primary" (click)="updateCategory()">Spremi</button>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
